<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>SPY 500</title>
</head>
<body>
   <h1> SPY500 cedear bot</h1>
    <p>Publicamos el precio del cedear spy500 diariamente</p>
    <h5>Ultimo precio: {{ value }} ARS</h5>
</body>
</html>