html {
  font-family: 'lato', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #111b21;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.center {
  display: flex;
  width: 100%;
  background-color: #0c141a;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-around;
}
.body-main {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 5px;
  border: 2px solid #156359;
  padding: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
  border-radius: 8px;
}
.text-price {
  font-weight: 600;
  font-size: 1.3rem;
}

body {
  height: 100%;
}
.body-principal {
  color: white;
}

.content {
  margin-top: 20px;
  width: 80%;
}

.flex {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: row;
}

.links {
  color: white;
  display: flex;
  gap: 8px;
  align-items: baseline;
}
.links a {
  color: white;

  text-decoration: none;
}
.links a:hover {
  border-bottom: 2px solid white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
